{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Account information
{% endblock %}
{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">
    <div class="container">

        <div class="mbr-section-head">
            <div class="col-md-12 col-lg-10 m-auto align-center">
                <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Account Information</strong></h1>
            </div><br><br>
        </div>

        {% if user.is_authenticated %}
            
            <div class="row align-items-center">

                <div class="col-12 col-lg">
                    
                    <p>Username: {{names.0|capfirst}}</p>
                    <p>Names: {{names.1|capfirst}} {{names.2|capfirst}}</p>
                    <p>E-mail: {{names.3|capfirst}}</p>
                    <p>Phone no: {{names.4.phone_no}}</p>
                    <p>Street No & Name: {{names.5.street_name|capfirst}}</p>
                    <p>Landmark: {{names.5.lcda|capfirst}}</p>
                    <p>L.G.A: {{names.5.lga|capfirst}}</p>
                    <p>Division: {{names.5.division|capfirst}}</p>
                    <p>State: {{names.5.state|capfirst}}</p>
                    

                    <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                        <button type="submit" class="btn btn-primary display-4 w-100 " onClick = "window.location= '{% url 'authentication:edit_account' %}';">Edit me</button>
                    </div>
                
                    <p class="mt-3  display-4">Update password? <a href="{% url 'authentication:setpassword' %}">Update</a></p>
                    
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                            alt="ADI Foods">
                
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>

</section>
{% endblock %}


