{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | OTP
{% endblock %}
{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">
    <div class="container">
        <div class="mbr-section-head">
            <div class="col-md-12 col-lg-10 m-auto align-center">
                <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>One Time Password</strong></h1>
            </div><br><br>
        </div>

    {% if user.is_authenticated %}
        <div class="row align-items-center">
            
            <div class="col-12 col-lg">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        {% csrf_token %}
                        
                        <div class="dragArea row">
                           
                            <div class="col-12 form-group mb-3" data-for="email">
                                <input type="text" name="otp" placeholder="Enter Otp" class="form-control" value="">
                            </div>

                            <p class="display-4 ">Please, input otp sent to your mobile number.</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-4 w-100 ">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                        alt="ADI Foods">
            
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="container">
        <div class="row align-items-center">

    <br><br>
    <h2><center><strong>Gotcha!</strong></center></h2><br>
    <br><br><br><h2><strong><center>You must be logged in to view this page!</strong></center></h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

    {% endif %}
</div>
</section>

{% endblock %}

