{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}
ADi meals | OTP
{% endblock %}

{% block jscript_attribute %}
{#<link rel="stylesheet" href="{% static 'authentication/master.css' %}">#}
{#<script src="{% static 'authentication/js/auth.js' %}" defer="true"></script>#}
{% endblock %}
{% block pageBody %}

<script>
    const socket = new WebSocket("ws://" + window.location.host + "/ws/authentication/otp");

    socket.onopen = () => console.log("✅ WebSocket connected");

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        console.log(data)
        
        if (data['message']) {
            document.getElementById("countdown").textContent = data.message
        } else {
            document.getElementById("countdown").textContent = 
            `OTP expires in: ${String(data.hours).padStart(2, '0')}:${String(data.minutes).padStart(2, '0')}:${String(data.seconds).padStart(2, '0')}`;
        }

        if (data['seconds'] === 0) {
            document.getElementById("resend").textContent = 'Resend OTP'
        }

    };
</script>


<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">
    <div class="container">
        <div class="mbr-section-head">
            <div class="col-md-12 col-lg-10 m-auto align-center">
                <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>One Time Password</strong></h1>
            </div><br><br>
        </div>

        <div class="row align-items-center">
            
            <div class="col-12 col-lg">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        {% csrf_token %}
                        
                        <div class="dragArea row">
                           
                            <div class="col-12 form-group mb-3" data-for="email">
                                <input type="text" name="otp" placeholder="Enter Otp" class="form-control" value="">
                                <strong><div id="countdown" style="color:red;" class="form-text"></div></strong>
                            </div>

                            <p class="display-4 ">Please, input otp sent to your mobile number on whatsapp.</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button id="resend" type="submit" class="btn btn-primary display-4 w-100 ">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                        alt="ADI Foods">
            
                </div>
            </div>
        </div>
    </div>

</div>
</section>

{% endblock %}

