{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Password Reset
{% endblock %}
{% block pageBody %}

<style>
.toggle-password {
    position: absolute;
    top: 31%;
    right: 130px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}
</style>

<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById("password");
    const eyeIcon = document.getElementById("eyeIcon");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyeIcon.src = "https://img.icons8.com/ios-glyphs/30/closed-eye.png"; // eye-off icon
      eyeIcon.alt = "Hide";
    } else {
      passwordInput.type = "password";
      eyeIcon.src = "https://img.icons8.com/ios-glyphs/30/visible--v1.png"; // eye icon
      eyeIcon.alt = "Show";
    }
  }

  function togglePasswordVisibility2() {
    const passwordInput = document.getElementById("password2");
    const eyeIcon = document.getElementById("eyeIcon2");

    if (passwordInput2.type === "password2") {
      passwordInput2.type = "text";
      eyeIcon2.src = "https://img.icons8.com/ios-glyphs/30/closed-eye.png"; // eye-off icon
      eyeIcon2.alt = "Hide";
    } else {
      passwordInput2.type = "password";
      eyeIcon2.src = "https://img.icons8.com/ios-glyphs/30/visible--v1.png"; // eye icon
      eyeIcon2.alt = "Show";
    }
  }
</script>


<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

<div class="container">

    <div class="mbr-section-head">
        <div class="col-md-12 col-lg-10 m-auto align-center">
            <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Password Reset</strong></h1>
        </div><br><br>
    </div>

<div class="row align-items-center">
            
  <div class="col-12 col-lg">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
          <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
              {% csrf_token %}
              
            <div class="dragArea row">
              {{time_diff}}
                 
                <div class="col-12 form-group mb-3" data-for="email">
                    <input type="password" id="password" name="password" value="{{password}}" placeholder="Enter New Password" class="form-control" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                        <img id="eyeIcon" src="https://img.icons8.com/ios-glyphs/30/visible--v1.png" alt="Show">
                    </span>
                </div>

                <div class="col-12 form-group mb-3" data-for="email">
                    <input type="password" id="password2" name="password2" value="{{password2}}" placeholder="Confirm New Password" class="form-control" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                        <img id="eyeIcon" src="https://img.icons8.com/ios-glyphs/30/visible--v1.png" alt="Show">
                    </span>
                </div>
                
                <div id="passhelp" class="form-text">We'll never share your password with anyone else.</div><br>
                <div id="passhelp" class="form-text">Hint</div>
                <ul>
                    <li><div id="passhelp" class="form-text">Common passwords as simple as A, B, C is not allowed</div></li>
                    <li><div id="passhelp" class="form-text">Numeric only password is not allowed. Special characters like '#', '*', '@' can be included but not compulsory</div></li>
                    <li><div id="passhelp" class="form-text">Password must be a minimum of 8 characters</div></li>
                    <li><div id="passhelp" class="form-text">Password must include a letter</div></li>
                    <li><div id="passhelp" class="form-text">Password must not be too similar to the User attribute provided</div></li>
                </ul>
                <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                    <button type="submit" class="btn btn-primary display-4 w-100 ">Update password</button>
                </div>
            </div>
    
          </form>
      </div>
  </div>
  <div class="col-12 col-lg-6">
      <div class="image-wrapper">
          <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
              alt="ADI Foods">
      </div>
  </div>
</div>
</div>

</div>

</section>
{% endblock %}

