{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Password Reset by E-mail
{% endblock %}
{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

<div class="container">

    <div class="mbr-section-head">
        <div class="col-md-12 col-lg-10 m-auto align-center">
            <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Password Reset</strong></h1>
        </div><br><br>
    </div>

<div class="row align-items-center">
            
  <div class="col-12 col-lg">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
          <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
              {% csrf_token %}
              
            <div class="dragArea row">
                 
                <div class="col-12 form-group mb-3" data-for="email">
                    <input type="password" id="password" name="password" placeholder="Enter New Password" class="form-control" required>
                </div>

                <div class="col-12 form-group mb-3" data-for="email">
                    <input type="password" id="password2" name="password2" placeholder="Confirm New Password" class="form-control" required>
                </div>
                
                <div id="passhelp" class="form-text">We'll never share your password with anyone else.</div><br>
                <div id="passhelp" class="form-text">Hint</div>
                <ul>
                    <li><div id="passhelp" class="form-text">Common passwords as simple as A, B, C is not allowed</div></li>
                    <li><div id="passhelp" class="form-text">Numeric only password is not allowed. Special characters like '#', '*', '@' can be included but not compulsory</div></li>
                    <li><div id="passhelp" class="form-text">Password must be a minimum of 8 characters</div></li>
                    <li><div id="passhelp" class="form-text">Password must include a letter</div></li>
                    <li><div id="passhelp" class="form-text">Password must not be too similar to the User attribute provided</div></li>
                </ul>
                <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                    <button type="submit" class="btn btn-primary display-4 w-100 ">Update password</button>
                </div>
            </div>
    
          </form>
      </div>
  </div>
  <div class="col-12 col-lg-6">
      <div class="image-wrapper">
          <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
              alt="ADI Foods">
      </div>
  </div>
</div>
</div>

</div>

</section>
{% endblock %}

