{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Sign up
{% endblock %}

{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

    {% if not user.is_authenticated %}

    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-12 col-lg">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="{% url 'authentication:signup' %}" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        {% csrf_token %}
                        
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="text" name="fname" placeholder="First Name" data-form-field="name" class="form-control" value="" id="fname" required>
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <input type="text" id="lname" name="lname" placeholder="Last Name" data-form-field="lname" class="form-control" required>
                            </div>
                            <div class="col-12 form-group mb-3" data-for="url">
                                <input type="text" id="username" name="username" placeholder="Username" class="form-control" required>
                            </div>
                            <div class="col-12 form-group mb-3" data-for="url">
                                <input type="email" id="email" name="email" placeholder="Email Address" class="form-control" required>
                            </div>
                            <div class="col-12 form-group mb-3" data-for="Password">
                                <input type="password" name="password" placeholder="password" class="form-control" required>
                            
                            <div id="passhelp" class="form-text">We'll never share your password with anyone else.</div><br>
                            <div id="passhelp" class="form-text">Hint</div>
                            <ul>
                            <li><div id="passhelp" class="form-text">Common passwords as simple as A, B, C is not allowed!</div></li>
                            <li><div id="passhelp" class="form-text">Numeric only password is not allowed. Special characters like '#' and '@' must be included!</div></li>
                            <li><div id="passhelp" class="form-text">Password must be a minimum of 8 characters!</div></li>
                            <li><div id="passhelp" class="form-text">Password must not be too similar to the User attribute provided!</div></li>
                            </ul></div>
                            <div class="col-12 form-group mb-3" data-for="confirm Password">
                                <input type="password" name="password2" placeholder="Confirm password" class="form-control">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-4 w-100 ">Register</button>
                            </div>
                        </div>
                            <p class="mt-3  display-4">Already registered? <a href="{% url 'authentication:signin' %}">Sign in</a></p>
                    </form>

                    <h5><center><strong>OR! You do not want to signup the traditional way?</strong></center></h5>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-4 w-100 ">Signin with Google<span class="mbr-iconfont socicon socicon-google"></span></button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" onClick="window.location='{% url 'twitter_callback' %}';" class="btn btn-primary display-4 w-100 ">Signin with Twitter<span class="mbr-iconfont socicon socicon-twitter"></span></button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-4 w-100 ">Signin with Facebook<span class="mbr-iconfont socicon socicon-facebook"></span></button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-4 w-100 ">Signin with Instagram<span class="mbr-iconfont socicon socicon-instagram"></span></button>
                        </div>


                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                        alt="ADI Foods">
            
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="container">
        <div class="row align-items-center">
    <br><br>
    <h2><center><strong>Gotcha!</strong></center></h2><br>
    <br><br><br><h2><strong><center>You are already logged in!</strong></center></h2>{#<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    {% endif %}
</section>

{% endblock %}
