{% extends "base/base.html" %}
{% load static %}
{% load socialaccount %}
{% block pageTitle %}
ADi meals | Sign in
{% endblock %}
{% block jscript_attribute %}
{#<link rel="stylesheet" href="{% static 'authentication/master.css' %}">#}
{% endblock %}
{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

    <div class="container">
        <div class="mbr-section-head">
            <div class="col-md-12 col-lg-10 m-auto align-center">
                <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Sign in</strong></h1>
            </div><br><br>
        </div>

        {% if not user.is_authenticated %}

            <div class="row align-items-center">
                
                <div class="col-12 col-lg">
                    <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                        <form action="{% url 'authentication:signin' %}" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                            {% csrf_token %}

                            <div class="dragArea row">
                            
                                <div class="col-12 form-group mb-3" data-for="email">
                                    <input type="text" id="username" value="{{username}}" name="username" placeholder="Email Address or Username" class="form-control" required>
                                </div>
                                <div class="col-12 form-group mb-3" data-for="password">
                                    <input type="password" id="password" name="password" placeholder="password" class="form-control" required>
                                </div>
                                <div class="col-12 form-group mb-3">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox">
                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                    <button type="submit" class="btn btn-primary display-4 w-100 ">Signin</button>
                                </div>
                            </div>
                                <p class="mt-3  display-4">New User? <a href="{% url 'authentication:signup' %}">Sign up</a> |  <a href="{% url 'authentication:email_reset_password' %}">Reset Password</a></p>
                        </form>
                                <center><strong>OR</strong></center>
                                
                                <center>
                                    <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                                        <button type="submit" onClick="window.location='{% url 'google_login' %}';" class="btn btn-primary display-4 w-100 ">Sign in with Google<span class="mbr-iconfont socicon socicon-google"></span></button>
                                    </div>
            
                                    <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                                        <button type="submit" onClick="window.location='{% url 'twitter_login' %}';" class="btn btn-primary display-4 w-100 ">Sign in with Twitter<span class="mbr-iconfont socicon socicon-twitter"></span></button>
                                    </div>
            
                                    <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                                        <button type="submit" onClick="window.location='{% url 'facebook_login' %}';" class="btn btn-primary display-4 w-100 ">Sign in with Facebook<span class="mbr-iconfont socicon socicon-facebook"></span></button>
                                    </div>
            
                                    <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                                        <button type="submit" onClick="window.location='{% url 'instagram_login' %}';" class="btn btn-primary display-4 w-100 ">Sign in with Instagram<span class="mbr-iconfont socicon socicon-instagram"></span></button>
                                    </div>
                                </center>    

                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                            alt="ADI Foods">
                    </div>
                </div>
            </div>

    {% else %}

    <div class="row align-items-center">

        <br><br>
        <h2><center><strong>Gotcha!</strong></center></h2><br>
        <br><br><br><h2><strong><center>You are already logged in!</strong></center></h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    {% endif %}
    </div>
</section>

{% endblock %}
