{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Sign up
{% endblock %}

{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

    <div class="container">
        <div class="mbr-section-head">
            <div class="col-md-12 col-lg-10 m-auto align-center">
                <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Sign up</strong></h1>
            </div><br><br>
        </div>

        {% if not user.is_authenticated %}

        <div class="row align-items-center">
            
            <div class="col-12 col-lg">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    
                    <form id="signupForm" action="{% url 'authentication:signup' %}" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        {% csrf_token %}
                        
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="fname">
                                <input type="text" name="fname" value="{{fname}}" placeholder="First Name" data-form-field="name" class="form-control" id="fname" required>
                            </div>

                            <div class="col-md col-sm-12 form-group mb-3" data-for="lname">
                                <input type="text" id="lname" name="lname" value="{{lname}}" placeholder="Last Name" data-form-field="lname" class="form-control" required>
                            </div>

                            <div class="col-12 form-group mb-3" data-for="username">
                                <input type="text" id="username" name="username" value="{{username}}" placeholder="Username" class="form-control" required>
                            </div>

                            <div class="col-12 form-group mb-3" data-for="email">
                                <input type="email" id="email" name="email" value="{{email}}" placeholder="Email Address" class="form-control" required>
                            </div>

                            <div class="col-12 form-group mb-3" data-for="password">
                                <input type="password" name="password" placeholder="password" class="form-control" required>

                                <div id="passhelp" class="form-text">We'll never share your password with anyone else.</div><br>
                                <div id="passhelp" class="form-text">Hint</div>
                                <ul>
                                    <li><div id="passhelp" class="form-text">Common passwords as simple as A, B, C is not allowed</div></li>
                                    <li><div id="passhelp" class="form-text">Numeric only password is not allowed. Special characters like '#', '*', '@' can be included but not compulsory</div></li>
                                    <li><div id="passhelp" class="form-text">Password must be a minimum of 8 characters</div></li>
                                    <li><div id="passhelp" class="form-text">Password must include a letter</div></li>
                                    <li><div id="passhelp" class="form-text">Password must not be too similar to the User attribute provided</div></li>
                                </ul>
                            </div>

                            <div class="col-12 form-group mb-3" data-for="confirmPassword">
                                <input type="password" name="password2" placeholder="Confirm password" class="form-control" required>
                            </div>

                            <div class="col-12 form-group mb-3">
                                <label class="form-check-label" for="exampleCheck1">
                                    <input type="checkbox" class="form-check-input" name="termsofservice" required>
                                        By registering, you agree to ADimeals 
                                        <a style="color:blue;" href="{% url 'privacy_policy' %}{#privacy-policy#}">
                                            Privacy Policy</a> and
                                        <a style="color:blue;" href="{% url 'terms_of_service' %}">
                                            Terms of Use</a>
                                </label>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-4 w-100 ">Register</button>
                            </div>
                        </div>
                            
                    </form>

                    <p class="mt-3 display-4">Already registered? <a href="{% url 'authentication:signin' %}">Sign in</a></p>

                    <h5><center><strong>OR! You do not want to signup the traditional way?</strong></center></h5>
                    
                    <center>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                            <button type="submit" class="btn btn-primary display-4 w-100 ">Sign in with Google<span class="mbr-iconfont socicon socicon-google"></span></button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                            <button type="submit" onClick="window.location='{% url 'twitter_callback' %}';" class="btn btn-primary display-4 w-100 ">Sign in with Twitter<span class="mbr-iconfont socicon socicon-twitter"></span></button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                            <button type="submit" class="btn btn-primary display-4 w-100 ">Sign in with Facebook<span class="mbr-iconfont socicon socicon-facebook"></span></button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" style="padding-right:20px">
                            <button type="submit" class="btn btn-primary display-4 w-100 ">Sign in with Instagram<span class="mbr-iconfont socicon socicon-instagram"></span></button>
                        </div>
                    </center>
                   
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                        alt="ADI Foods">
                </div>
            </div>
                
        
        </div>
        
        {% else %}

        <div class="row align-items-center">
            <br><br>
            <h2><center><strong>Gotcha!</strong></center></h2><br>
            <br><br><br><h2><strong><center>You are already logged in!</strong></center></h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        {% endif %}
    </div>
</section>

{% endblock %}
