.outoforder p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
}
