*.env
/__pycache__
/address/__pycache__
/address/migrations/__pycache__
/authentication/__pycache__
/authentication/migrations/__pycache__
/cart/__pycache__
/cart/migrations/__pycache__
/food_app/__pycache__
/food_app/migrations/__pycache__
/my_site/__pycache__/
/payments/__pycache__
/payments/migrations/__pycache__
/review/__pycache__
/review/migrations/__pycache__
/search_box/__pycache__
/search_box/migrations/__pycache__