<!Doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'payments/js/soup.js' %}" defer="true"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Pocpper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">}</script>
    <link rel="stylesheet" href="{% static 'food_app/master.css' %}">
    <title>Payment</title>
</head>
<body>
<div class="container">

{% if user.is_authenticated %}

<h1><center>Pay here!</center></h1><br>
{#Here, this is the rendered template for "payment view". it takes in two arguments which are: price and slug #}
{#I used if-statements to diffrentiate the type of price and slug request by the user, and render that particular price and slug item.#}

{#for food#}
{% if price == item.food_price and slug == item.slug %}
<img src={{item.image.url}} class="img-fluid"><br><br>
<h2>{{item.food_item|capfirst}}</h2>
<h3>₦{{item.food_price}}</h3><br>
<button type="button" class="btn btn-success" onClick="makePayment({{item.food_price}},{{item.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>
{% endif %}



{#for soup box#}
{#Image click#}
{% if item2 and price == 11 and slug == item2.slug %}
<img src={{item2.image.url}} class="img-fluid"><br><br>
<h2>{{item2.soup_item|capfirst}}</h2>
<p>{{item2.mini_box_name}}</p>
<h3>₦{{item2.mini_box_price}}</h3>
<div class="productContainer">
<button type="submit" class="btn btn-success" name={{item2.mini_box_name}} value={{item2.pk}} id="add-item">Add to cart</button><br><br>
</div>
<button type="button" class="btn btn-success" onClick="makePayment({{5000}},{{item2.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>

<img src={{item2.image.url}} class="img-fluid"><br><br>
<h2>{{item2.soup_item|capfirst}}</h2>
<p>{{item2.medium_box_name}}</p>
<h3>₦{{item2.medium_box_price}}</h3>
<div class="productContainer">
<button type="submit" class="btn btn-success" name={{item2.medium_box_name}} value={{item2.pk}} id="add-item">Add to cart</button><br><br>
</div>
<button type="button" class="btn btn-success" onClick="makePayment({{7000}},{{item2.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>


<img src={{item2.image.url}} class="img-fluid"><br><br>
<h2>{{item2.soup_item|capfirst}}</h2>
<p>{{item2.mega_box_name}}</p>
<h3>₦{{item2.mega_box_price}}</h3>
<div class="productContainer">
<button type="submit" class="btn btn-success" name={{item2.mega_box_name}} value={{item2.pk}} id="add-item">Add to cart</button><br><br>
</div>
<button type="button" class="btn btn-success" onClick="makePayment({{10000}},{{item2.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>


{% elif item2 and price == item2.mini_box_price and slug == item2.slug %}
{#Mini box#}
<img src={{item2.image.url}} class="img-fluid"><br><br>
<h2>{{item2.soup_item|capfirst}}</h2>
<p>{{item2.mini_box_name}}</p>
<h3>₦{{item2.mini_box_price}}</h3>
<div class="productContainer">
<button type="submit" class="btn btn-success" name={{item2.mini_box_name}} value={{item2.pk}} id="add-item">Add to cart</button><br><br>
</div>
<button type="button" class="btn btn-success" onClick="makePayment({{5000}},{{item2.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>


{% elif item2 and price == item2.medium_box_price and slug == item2.slug %}
{#Medium box#}
<img src={{item2.image.url}} class="img-fluid"><br><br>
<h2>{{item2.soup_item|capfirst}}</h2>
<p>{{item2.medium_box_name}}</p>
<h3>₦{{item2.medium_box_price}}</h3><br>
<div class="productContainer">
<button type="submit" class="btn btn-success" name={{item2.medium_box_name}} value={{item2.pk}} id="add-item">Add to cart</button><br><br>
</div>
<button type="button" class="btn btn-success" onClick="makePayment({{7000}},{{item2.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>


{% elif item2 and price == item2.mega_box_price and slug == item2.slug %}
{#Mega box#}
<img src={{item2.image.url}} class="img-fluid"><br><br>
<h2>{{item2.soup_item|capfirst}}</h2>
<p>{{item2.mega_box_name}}</p>
<h3>₦{{item2.mega_box_price}}</h3>
<div class="productContainer">
<button type="submit" class="btn btn-success" name={{item2.mega_box_name}} value={{item2.pk}} id="add-item">Add to cart</button><br><br>
</div>
<button type="button" class="btn btn-success" onClick="makePayment({{10000}},{{item2.pk}})"><strong>Flutterwave</strong></button><br><br><br><br><br><br><br>



{% endif %}

{% endif %}
</div>

<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
    let tx_ref = "{{tx_ref}}"
    let username = "{{ username }}"
    let email = "{{ email }}"
    let phone_no = "{{ phone_no }}"

function makePayment(price,pk) {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-28bc811c5116187d1b308d076c2e0672-X",
      tx_ref: tx_ref,
      amount: price,
      currency: "NGN",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "https://127.0.0.1:8000/payments/verify_payment/" + pk,
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: email,
        phone_number: phone_no,
        name: username,
      },
      customizations: {
        title: "ADi meals limited",
        description: "Your go to place for food and soup service",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
</script>
    </body>
</html>
