<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account information</title>
</head>
<body>

    <h1>Account information</h1>

    <h3>Username: {{names.0|capfirst}}<h3>
    <h3>Names: {{names.1|capfirst}} {{names.2|capfirst}}</h3>
    <h3>E-mail: {{names.3}}</h3>

    <button><a href="{% url 'authentication:edit_account' %}">Edit me</a></button>


   </body>
</html>
