{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Account info</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

{% if user.is_authenticated %}

{% block cart_button %}
    <button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
    {% endblock cart_button %}
    
    {% block content_is_authenticated %}

<div class="container">
    <br><br><h1><center>Account information</center></h1><br><br>

    <h3>Username: {{names.0}}<h3>
    <h3>Names: {{names.1|capfirst}} {{names.2|capfirst}}</h3>
    <h3>E-mail: {{names.3}}</h3>
    <h3>Phone-no: {{names.4.phone_no}}</h3>

    <button class="btn btn-success" onClick = "window.location= '{% url 'authentication:edit_account' %}';">Edit me</button><br><br>

    <a href="{% url 'authentication:setpassword' %}">Reset password</a><br><br><br><br><br><br><br>

    <button class="btn btn-success" onClick = "window.location= '{% url 'home' %}';">Go Home</button><br><br>

    </div>{% endblock %}
    
    {% endif %}

