{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Sign ups</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

{% if user.is_authenticated %}
  
    {% block cart_button %}
    <button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
    {% endblock cart_button %}
    
    {% block content_is_authenticated %}

<div class="container">
    <br><br><h1><center>Create Account</center></h1><br><br>
    <h2><center>Gotcha!</center></h2><br>
<br><br><br><h2><center>You are already logged in</center></h2>

</div>{% endblock %}
{% else %}

{% block content_not_authenticated %}

<div class="container">
    <br><br><h1><center>Create Account</center></h1><br><br><br><br>

    <button type="submit" class="btn btn-primary"><i class="fa-brands fa-google"></i><strong> Use Goggle account</strong></button><br><br><br><br>
    
    <button type="submit" class="btn btn-success"><i class="fa-brands fa-facebook"></i><strong> Use Facebook account</strong></button><br><br><br>

    <h3>OR</h3><br><br>
    
    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signup' %}';"><strong>Sign Up With Your Email</strong></button><br><br>

</div>{% endblock %}
{% endif %}
