{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Edit account</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

{% if user.is_authenticated %}

{% block cart_button %}
    <button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
    {% endblock cart_button %}
    
    {% block content_is_authenticated %}

<div class="container">
    <br><br><h1><center>Edit account</center></h1><br><br>

    <h3>Update Phone Number</h3><br>
    <form action="" method="POST">
        {% csrf_token %}
    
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Update">
    
        </form><br><br><br>

    <h3>Update Account Details</h3><br>
    <form action="" method="POST">
    {% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username"><br><br>

    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" placeholder="Enter first name"><br><br>
 
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" placeholder="Enter last name"><br><br>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" placeholder="Enter email"><br><br>

    <input type="submit" class="btn btn-success" value="Update">

    </form>

</div>{% endblock %}
{% endif %}    

