<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit account</title>
</head>
<body>

    <h1>Edit account</h1>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismissible="alert" aria-label="close">
    <span aria-hidden="True">&times;</span>
    </button>
    </div>
    {% endfor %}<br>


{% if user.is_authenticated %}

    <form action="" method="POST">
    {% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username"><br><br>

    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" placeholder="Enter first name"><br><br>
 
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" placeholder="Enter last name"><br><br>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" placeholder="Enter email"><br><br>

    <input type="submit" value="Update">

    </form>

{% endif %}    

   </body>
</html>
