{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Reset password by email</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

{% if user.is_authenticated %}
  
    {% block cart_button %}
    <button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
    {% endblock cart_button %}
    
    {% block content_is_authenticated %}

<div class="container">
    <br><br><h1><center>Email Reset Password</center></h1><br><br>
    <h2><center>Gotcha!</center></h2><br>
<br><br><br><h2><center>You are already logged in</center></h2>

</div>{% endblock %}
{% else %}
{% block content_not_authenticated %}

<div class="container">

            <form action="" method="POST">
               {% csrf_token %}
               {{form}}
               <button type="submit" class="btn btn-success">Submit</button>
            </form>

        </div>{% endblock %}
        {% endif %}
