{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Reset password</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

{% if user.is_authenticated %}

{% block cart_button %}
<button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
{% endblock cart_button %}

{% block content_is_authenticated %}

<div class="container">
<br><br><h1><center>Reset password</center></h1><br><br>

<form action="" method="POST">
{% csrf_token %}

<label for="new password">New password:</label>
<input type="password" id="password" name="password" placeholder="Enter new password" required><br><br>

<label for="new password2">Confirm password:</label>
<input type="password" id="password2" name="password2" placeholder="Confirm new password" required><br><br>

<input type="submit" value="Update">

</form>
</div>{% endblock %}
{% else %}

{% block content_not_authenticated %}

<div class="container">
  
  <h1><center>Reset password</center></h1><br><br>
  <h2><center>Gotcha!</center></h2><br>
<h3><center>You must be logged in to view this page!</center></h3>

</div>{% endblock %}
{% endif %}

