{% extends "./../base/base.html" %}
{% block pageTitle %}
ADI food | Home
{% endblock %}
{% block pageBody %}
{% load static %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">





    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-12 col-lg">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Success Submission message</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                           
                            <div class="col-12 form-group mb-3" data-for="email">
                                <input type="email" name="emai" placeholder="Email Address" class="form-control" value="">
                            </div>
                            <p class="display-4 ">Tell us your email and we will send you a reset password link</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-4 w-100 ">Rest passsword</button>
                            </div>
                        </div>
                            <p class="mt-3  display-4">New User? <a href="{% url 'authentication:signup' %}">Sign up</a> <br>Returning User <a href="{% url 'authentication:signin' %}"> Signin</a></p>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/hot-soup-bowl-against-dark-background-410516-41370-626x417.jpg' %}"
                        alt="ADI Foods">
            
                </div>
            </div>
        </div>
    </div>
</section>




<!--Other body ends-->
{% endblock %}
