{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Transactions
{% endblock %}
{% block jscript_attribute %}
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}
{% block pageBody %}

<section data-bs-version="5.1" class="gallery3 cid-u0tvmAp7su" id="gallery3-a">

    <div class="container-fluid">
        <center>
            {% if user.is_superuser %}
            <h2><strong>User Transactions</strong></h2> <br><br>
        
                {% for item in all_transactions %}
                {% if item.0.content_type == food_model %}
                <h3><span class="text-muted">Unitary food</span>
                    <span class="badge badge-secondary badge-pill">3</span></h3>

                    <div class="col-md-4 order-md-2 mb-4 display-4 ">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{item.0.content_object.food_item|capfirst}} | {{item.0.protein|capfirst}} | {{item.0.subprotein|capfirst}}</h6>
                                </div>
                                
                                <div class="col-md-3 text-left">
                                    <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                                    data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>User</span>
                                    <strong>{{item.0.user|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Street name</span>
                                    <strong>{{item.1.street_name|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>L.c.d.a</span>
                                    <strong>{{item.1.lcda|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>L.g.a</span>
                                    <strong>{{item.1.lga|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Division</span>
                                    <strong>{{item.1.division|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>State</span>
                                    <strong>{{item.1.state|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Phone number</span>
                                    <strong>{{item.2.phone_no|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Status</h6>
                                    </div>
                                    <span class="text-success">{{item.0.status|capfirst}}</span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Date</span>
                                    <strong>{{item.0.datetime}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Time</span>
                                    <strong>{{item.0.time}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (NGN)</span>
                                    <strong>₦{{item.0.content_object.food_price}}</strong>
                                </li><br>
                            </li>
                        </ul>
                    </div>
            {% elif item.0.content_type == soup_model %}

                <h3><span class="text-muted">Unitary soup</span>
                    <span class="badge badge-secondary badge-pill">3</span></h3>
                    <div class="col-md-4 order-md-2 mb-4 display-4 ">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{item.0.content_object.soup_item|capfirst}} | {{item.0.boxsize|capfirst}} | {{item.0.protein|capfirst}} | {{item.0.subprotein|capfirst}}</h6>
                                </div>

                                <div class="col-md-3 text-left">
                                    <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                                    data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>User</span>
                                    <strong>{{item.0.user|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Street name</span>
                                    <strong>{{item.1.street_name|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>L.c.d.a</span>
                                    <strong>{{item.1.lcda|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>L.g.a</span>
                                    <strong>{{item.1.lga|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Division</span>
                                    <strong>{{item.1.division|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>State</span>
                                    <strong>{{item.1.state|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Phone number</span>
                                    <strong>{{item.2.phone_no|capfirst}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Status</h6>
                                    </div>
                                    <span class="text-success">{{item.0.status|capfirst}}</span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Date</span>
                                    <strong>{{item.0.datetime}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span>Time</span>
                                    <strong>{{item.0.time}}</strong>
                                </li>

                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (NGN)</span>
                                    <strong>₦{{item.0.amount}}</strong>
                                </li><br>
                            </li>
                        </ul>
                    </div>

                    {% else %}
                    <h3><span class="text-muted">Cart items</span>
                        <span class="badge badge-secondary badge-pill">3</span></h3>
        
                        <div class="col-md-4 order-md-2 mb-4 display-4 ">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
        
                                    {% for item in item.3 %}{#This iterates if takes(item)#}
                                        {% if item.3.food_item %}{#This checks if the item returned in takes(item) is food or soup item#}
                                        
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                
                                                <div>
                                                    <h6 class="my-0">{{item.3.food_item|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>Quantity {{item.4|capfirst}}</strong> | ₦{{item.3.food_price}}</h6>
                                                </div>
                        
                                                <div class="col-md-3 text-left">
                                                    <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                                    data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                </div>
                                    
                                            </li>
        
                                        {% elif item.3.soup_item and item.0 == "mini" %}
                                        
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                
                                                <div>
                                                    <h6 class="my-0">{{item.3.soup_item|capfirst}} | {{item.0|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>Quantity {{item.4|capfirst}}</strong> | ₦{{item.3.mini_box_price}}</h6>
                                                </div>
                        
                                                <div class="col-md-3 text-left">
                                                    <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                                    data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                </div>
                                    
                                            </li>
        
                                        {% elif item.3.soup_item and item.0 == "medium" %}
                                        
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                
                                                <div>
                                                    <h6 class="my-0">{{item.3.soup_item|capfirst}} | {{item.0|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>Quantity {{item.4|capfirst}}</strong> | ₦{{item.3.medium_box_price}}</h6>
                                                </div>
                        
                                                <div class="col-md-3 text-left">
                                                    <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                                    data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                </div>
                                    
                                            </li>
        
                                        {% elif item.3.soup_item and item.0 == "mega" %}
                                        
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                
                                                <div>
                                                    <h6 class="my-0">{{item.3.soup_item|capfirst}} | {{item.0|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>Quantity {{item.4|capfirst}}</strong> | ₦{{item.3.mega_box_price}}</h6>
                                                </div>
                        
                                                <div class="col-md-3 text-left">
                                                    <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                                    data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                </div>
                                    
                                            </li>
        
                                        {% endif %}
                
                                    {% endfor %}  
                                    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>User</span>
                                        <strong>{{item.0.user|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>Street name</span>
                                        <strong>{{item.1.street_name|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>L.c.d.a</span>
                                        <strong>{{item.1.lcda|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>L.g.a</span>
                                        <strong>{{item.1.lga|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>Division</span>
                                        <strong>{{item.1.division|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>State</span>
                                        <strong>{{item.1.state|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>Phone number</span>
                                        <strong>{{item.2.phone_no|capfirst}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <div class="text-success">
                                            <h6 class="my-0">Status</h6>
                                        </div>
                                        <span class="text-success">{{item.0.status|capfirst}}</span>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>Date</span>
                                        <strong>{{item.0.datetime}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span>Time</span>
                                        <strong>{{item.0.time}}</strong>
                                    </li>
    
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (NGN)</span>
                                        <strong>₦{{item.0.amount}}</strong>
                                    </li><br>
                               </li>
                            </ul>
                        </div>

                    {% endif %}
                {% endfor %}
            {% endif %}
            
        </center>
    </div>
</section>

{% endblock %}



