{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Transactions
{% endblock %}
{% block jscript_attribute %}
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}
{% block pageBody %}

<section data-bs-version="5.1" class="gallery3 cid-u0tvmAp7su" id="gallery3-a">

    <div class="container-fluid">
        <center>

        {% if user.is_authenticated %}
         
        <h2>My Transactions</h2> <br><br>
        {% for item in transactions %}
        {% if item.content_type == food_model %}{#Contentype is the object content_type in Transaction model#}
            <h3><span class="text-muted">Unitary food</span>
                <span class="badge badge-secondary badge-pill">3</span></h3>

                <div class="col-md-4 order-md-2 mb-4 display-4 ">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{item.content_object.food_item|capfirst}} | {{item.protein|capfirst}} | {{item.subprotein|capfirst}}</h6>
                            </div>
                            
                            <div class="col-md-3 text-left">
                                <img src={{item.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                                data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                            </div>
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Status</h6>
                                </div>
                                <span class="text-success">{{item.status|capfirst}}</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span>Date</span>
                                <strong>{{item.datetime}}</strong>
                            </li>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span>Time</span>
                                <strong>{{item.time}}</strong>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (NGN)</span>
                                <strong>₦{{item.content_object.food_price}}</strong>
                            </li><br>
                        </li>
                    </ul>
                </div>
        {% elif item.content_type == soup_model %}

            <h3><span class="text-muted">Unitary soup</span>
                <span class="badge badge-secondary badge-pill">3</span></h3>
                <div class="col-md-4 order-md-2 mb-4 display-4 ">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{item.content_object.soup_item|capfirst}} | {{item.boxsize|capfirst}} | {{item.protein|capfirst}} | {{item.subprotein|capfirst}}</h6>
                            </div>

                            <div class="col-md-3 text-left">
                                <img src={{item.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                                data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                            </div>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Status</h6>
                                </div>
                                <span class="text-success">{{item.status|capfirst}}</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span>Date</span>
                                <strong>{{item.datetime}}</strong>
                            </li>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span>Time</span>
                                <strong>{{item.time}}</strong>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (NGN)</span>
                                <strong>₦{{item.amount}}</strong>
                            </li><br>
                        </li>
                    </ul>
                </div>
        {% else %}
            <h3><span class="text-muted">Your Ex-Cart</span>
                <span class="badge badge-secondary badge-pill">3</span></h3>

                <div class="col-md-4 order-md-2 mb-4 display-4 ">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">

                            {% for item in item.2 %}{#This iterates the list all_new#}
                                {% if item.3.food_item %}
                                
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        
                                        <div>
                                            <h6 class="my-0">{{item.3.food_item|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>{{item.4|capfirst}}</strong> | ₦{{item.3.food_price}}</h6>
                                        </div>
                
                                        <div class="col-md-3 text-left">
                                            <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                            data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                            
                                    </li>

                                {% elif item.3.soup_item and item.0 == "mini" %}
                                
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        
                                        <div>
                                            <h6 class="my-0">{{item.3.soup_item|capfirst}} | {{item.0|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>{{item.4|capfirst}}</strong> | ₦{{item.3.mini_box_price}}</h6>
                                        </div>
                
                                        <div class="col-md-3 text-left">
                                            <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                            data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                            
                                    </li>

                                {% elif item.3.soup_item and item.0 == "medium" %}
                                
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        
                                        <div>
                                            <h6 class="my-0">{{item.3.soup_item|capfirst}} | {{item.0|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>{{item.4|capfirst}}</strong> | ₦{{item.3.medium_box_price}}</h6>
                                        </div>
                
                                        <div class="col-md-3 text-left">
                                            <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                            data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                            
                                    </li>

                                {% elif item.3.soup_item and item.0 == "mega" %}
                                
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        
                                        <div>
                                            <h6 class="my-0">{{item.3.soup_item|capfirst}} | {{item.0|capfirst}} | {{item.1|capfirst}} | {{item.2|capfirst}} | <strong>{{item.4|capfirst}}</strong> | ₦{{item.3.mega_box_price}}</h6>
                                        </div>
                
                                        <div class="col-md-3 text-left">
                                            <img src={{item.3.image.url}} class="img-fluid" alt="Adi Foods"
                                            data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                            
                                    </li>

                                {% endif %}
        
                            {% endfor %}  
                            
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Status</h6>
                                </div>
                                <span class="text-success">{{item.1|capfirst}}</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span>Date</span>
                                <strong>{{item.3}}</strong>
                            </li>

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span>Time</span>
                                <strong>{{item.4}}</strong>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (NGN)</span>
                                <strong>₦{{item.0}}</strong>
                            </li><br>
                       </li>
                    </ul>
                </div>
        {% endif %}
        {% endfor %}
            
        <h2>Thank you for choosing ADi meals...</h2><br><br><br><br><br>
        <button type="button" class="btn btn-primary btn-lg btn-block" onClick="window.location='{% url 'home' %}';">Go home</button>

        {% else %}
        <h2><center>Oooooops!! Are you sure you are logged in ?</center></h2>
        <br><br><h3><center>Please, login to view this page and try again!</center></h3><br><br><br><br><br><br>
        {% endif %}
        
        </center>
    </div>
</section>

{% endblock %}



