{% extends "./base/base.html" %}
{% block pageTitle %}
ADI food | Home
{% endblock %}
{% block pageBody %}
{% load static %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">





    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/5.jpg' %}" alt="ADI Foods">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
                        Image Description</p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>Who we are</strong>
                    </h3>
<p class="mbr-text mbr-fonts-style display-7">ADi meals Limited was first registered as a business name “ADi meals, BN
    8073” in the year 2020 to venture into Food and Beverages. We wanted to
    start out as a Snack Drink company. A company whose sole purpose was
    to produce snack and drink together in a container which would serve as an
    easy meal to our consumers. Our goal has always been to provide easy
    meals to our consumers, but as a snack drink project we were embarking
    upon, we did not have enough funding to begin with so, we decided to
    dissect our goals and digress our business into opening a physical
    restaurant in Akure.</p>

<p class="mbr-text mbr-fonts-style display-7">In 2021, we opened a restaurant in irese area of Akure, Ondo state. We
    began by selling food like Egusi and Pounded yam, White rice and beans,
    Jollof rice, and many more meals. Business was booming but along the
    line, things became sour, and our operations folded up in July which was
    as a result of our dependency on a little community in the whole of Akure to
    scale our business.</p>

<p class="mbr-text mbr-fonts-style display-7">Today, we have rebranded ourselves as a Limited company to give us a
    better reputation. We have re-strategize our operations not to focus on
    operating a physical restaurant but to operate online by having a digital
    market place on the web through which our customers can order food
    online, thereby reaching a larger audience.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content13 cid-u0tugIEdq9" id="content13-4">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                    <strong>Frequently asked questions</strong>
                </h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>How to create more items in this list?</strong><br>Press <strong>Enter
                                </strong>to create a new
                                bullet. To
                                create an answer for a question, press <strong>Shift+Enter</strong>.</li>
                            <li><strong>Can I create sites for commerical projects?</strong><br>Yes, Mobirise is free
                                for both
                                non-profit
                                and commercial sites.</li>
                            <li><strong>How to install more extensions?</strong><br>Open the main menu in the app and
                                find the
                                Extensions
                                tab. Click on it to open the Extensions list.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>What is Mobirise Kit?
                                </strong><br>Mobirise Kit is a service that provides the access to all current and new
                                themes/extensions developed by Mobirise.&nbsp;</li>
                            <li><strong>What is Code Editor?<br></strong>This extension allows editing the code of block
                                in the
                                app. Also,
                                it's possible to add code to the head and body parts of pages.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="team1 cid-u0tukOx0LW" id="team1-5">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Our team</strong>
                </h3>

            </div>
            <div class="item features-image mb-4 col-12 col-md-4">
                <div class="item-wrapper">
                    <div class="image-wrap">
                        <img src="{% static 'assets/images/team1.jpg'%}" alt="ADI Foods">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>John Smith</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Programmer</strong>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            No special actions required, all sites you make with Mobirise are mobile-friendly.
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="item features-image mb-4 col-12 col-md-4">
                <div class="item-wrapper">
                    <div class="image-wrap">
                        <img src="{% static 'assets/images/team2.jpg'%}" alt="ADI Foods">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Sarah Palmer</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Manager</strong>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Use Mobirise website building software to create multiple sites for your clients.
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="item features-image mb-4 col-12 col-md-4">
                <div class="item-wrapper">
                    <div class="image-wrap">
                        <img src="{% static 'assets/images/team3.jpg'%}" alt="ADI Foods">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Jessica Swift</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Analyst</strong>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Create multiple pages. Don't forget to set links to your pages after creating them.
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts3 map1 cid-u0tuob5w3u" id="contacts3-6">





    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contacts</strong>
            </h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
                Contacts Subtitle
            </h4>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">0 (800) 123 45 67</a>
                        </p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@site.com" class="text-primary">info@site.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0"
                        src="{% static 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sru!2sru"
                        allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<!--Other body ends-->
{% endblock %}
