<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Welcome to ADi meals mobile</h1>


    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismissible="alert" aria-label="close">
    <span aria-hidden="True">&times;</span>
    </button>
    </div>
    {% endfor %}



    <button><a href= "{% url 'authentication:all_signups' %}">Sign up</a></button> <button><a href= "{% url 'authentication:signin' %}">Sign in</a></button>

    <br><br><br>

<button><a href="{% url 'profile' %}">Profile</a></button>

<br><br><br><br><br>
<form action= "{% url 'search_box:search' %}" method="GET">

    <label for="search box"></label>
    <input type="text" id="search box" name="search" placeholder="Search boxes!">
    <input type="submit" value="search" >

</form>


<br>
<br>
<br>
<br>

<button type="button"><a href = "{% url 'food_app:foodbox' %}">food box</a></button>     <button type="button"><a href = "{% url 'food_app:soupbox' %}">soup box</a></button>


   </body>
</html>


