{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Profile
{% endblock %}
{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

<div class="container">

    {% if user.is_authenticated %}

    <br><br><br>
    <h1><center><strong>Profile page</strong></center></h1><br><br>
    <h3>{{fname|capfirst}} {{lname|capfirst}}, you're welcome!</h3>

    <div class="mbr-section-btn item-footer mt-2">

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:account_info' %}';">Account Information</button>

        <button class="btn btn-primary item-btn display-7" >My Orders</button>

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'address:billing_address' %}';">My Address</button>

        <a href="https://www.twitter.com/ADimealsmobile?t=ongILNDHhLA5NR20GrnXHQ&s=09"><button class="btn btn-primary item-btn display-7" >Twitter</button></a>

        <a href="https://wa.link/n403fi"><button class="btn btn-primary item-btn display-7" >Whatsapp Us</button></a>
        
    </div>

    {% else %}

<br>
  <h1><center><strong>Profile page</strong></center></h1><br><br>

    <h3>{{fname}} {{lname}}, you're welcome!</h3>

    <div class="mbr-section-btn item-footer mt-2">

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:signin' %}';">Account Information</button>

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:signin' %}';">My Orders</button>

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:signin' %}';">My Address</button>

        <a href="https://www.twitter.com/ADimealsmobile?t=ongILNDHhLA5NR20GrnXHQ&s=09"><button class="btn btn-primary item-btn display-7" >Twitter</button></a>

        <a href="https://wa.link/n403fi"><button class="btn btn-primary item-btn display-7" >Whatsapp Us</button></a>
        
    </div>
        
    {% endif %}
    <br><br><br><br><br><br><br><br>
</div>

</section>
{% endblock %}