{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Food box</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

    {% if user.is_authenticated %}

    {% block cart_button %}
    <button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart}})</strong></button>
    {% endblock cart_button %}
    {% block profile %}{% endblock profile %}
    {% block content_is_authenticated %}

<div class="container">
    <br><br><h1><center>Profile page!</center></h1><br><br>
    <h3>{{fname|capfirst}}, you're welcome!</h3>

    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:account_info' %}';">Account information</button>
    <button>My Orders</button>
    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'address:billing_address' %}';">My Address</button>
    <a href="https://www.twitter.com/ADimealsmobile?t=ongILNDHhLA5NR20GrnXHQ&s=09"><button type="button" class="btn btn-success">Social Media</button></a>
    <a href="https://wa.link/n403fi"><button type="button" class="btn btn-success">WhatsApp Us</button></a>

</div>{% endblock content_is_authenticated %}
    {% else %}
    {% block profile_not_auth %}{% endblock profile_not_auth %}
    {% block content_not_authenticated %}

<div class="container">

  <h1><center>Profile page!</center></h1><br><br>

    <h3>{{fname}}, you're welcome!</h3>

    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';">Account information</button>
    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';">My Orders</a></button>
    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';">My Address</a></button>
    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';">Social Media</a></button>
    <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';">Contact Us</a></button>

</div>{% endblock %}

    {% endif %}

