#notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 300px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    display: none;
}
  
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }


#add-item{
  margin-left: 26px;
}

#subtract-item{
  margin-left: -7px;
}

#update-login{
  margin-top: -74px;
  padding-right: 14px;
  margin-left: 26px;
}

#update-logout{
  margin-top: -74px;
  padding-right: 14px;
  margin-left: 26px;
}

#delete{
  margin-top: -3px;
  margin-left: 82px;
  padding-left: 1px;
  padding-right:14px;
  padding-bottom: -5px;
}

/*
#add-item{
  margin-left: 45px;
  padding:10px;
  margin-top: -3px;
}

#subtract-item{
  margin-left: 77px;
  margin-top:-77px;
  padding:12px;
}

#update-login{
  margin-top: -75px;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
}

#update-logout{
  margin-left: 44px;
  margin-top: -83px;
  padding-top:12px;
  padding-bottom:12px;
  padding-left: 4px;
  padding-right: 2px;
}

#delete-item{
  margin-top: -29px;
  margin-left: 77px;
  padding-top:13.5px;
  padding-bottom:13.5px;
  padding-left: 6px;
  padding-right:6px;
}*/


/*This is to hide the form and beautify it on cart page*/
.hidden-form {
  display: none;
}

.protein-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 80%; /* Increase the width */
  max-width: 600px; /* Set a maximum width */
  border-radius: 8px; /* Add some border radius for aesthetics */
}

.protein-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Style for the form submit button */
.button-change {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-change:hover {
  background-color: #e68a00;
  transform: scale(1.05);
}

.button-change:active {
  background-color: #cc7a00;
}

