#story{
    color: rgb(245, 71, 41);
    font-size: 20px;
    font-weight: 600;
}

#property{
    color: rgb(245, 71, 41);
}

.alert-info{
    color: #0D1B2A;
    margin-top: 61px;
    margin-bottom: 0px;
}

.alert-error{
    margin-top: 61px;
    margin-bottom: 0px;
}

.alert-success{
    color: #0D1B2A;
    margin-top: 61px;
    margin-bottom: 0px;
}

#alert-message{
    font-size: 20px;
    font-weight: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin-top: 5px;
}


/* Hide the mobile cart icon on desktop */
.mobile-cart-icon {
    display: none; /* Hide by default */
}

/* Show the mobile cart icon on mobile */
@media (max-width: 768px) {
    .mobile-cart-icon {
        display: block; /* Show on mobile devices */
    }
}


/* Hide the desktop cart icon on mobile */
.desktop-cart-icon {
    display: none; /* Hide by default */
}

/* Show the desktop cart icon on larger screens */
@media (min-width: 769px) {
    .desktop-cart-icon {
        display: block; /* Show on desktop devices */
    }
}

p{
    font-size: 25px;
}

li{
    font-size: 25px;
}

