{% extends "./base/base.html" %}
{% block pageTitle %}
ADi meals | Our Story
{% endblock %}
{% block pageBody %}
{% load static %}


<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/5.jpg' %}" alt="ADI Foods">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
                        Our Future!</p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>Story Story!</strong>
                    </h3>

<p class="mbr-text mbr-fonts-style display-7">Hi
    {% if user.is_authenticated %}
    {{fname|capfirst}},
    {% else %}
    Prospective Customer,
    {% endif %} 
    my name is ADi, 
    and I would love to share you a part of my story on what became the 
    inception of ADi meals as a Soup and Food service company.
</p>

<p class="mbr-text mbr-fonts-style display-7">On the morning of February 27th, in 2006, 
    a big decision was taken in my family by my Mum, whom I will refer to her as Mama ADi in the rest of my story. 
    She decided to part ways with her then husband, which made her leave Lagos with my little bro to settle down 
    in Akure, leaving behind myself and two other siblings.
</p>

<p class="mbr-text mbr-fonts-style display-7">Few weeks down the line, 
    I and my siblings got abandoned at my Aunt's place 
    where we lived for a year plus without having to attend school. 
    Although, we attended summer and spring lessons during the holidays. Mum on the other end was struggling 
    really hard to raise enough money to migrate us from Lagos to Akure.
</p>

<p class="mbr-text mbr-fonts-style display-7">
    Then, one afternoon, a day to always remember, I was at my Aunt's shop when 
    I saw my mum at the other side of the road. I couldn't believe my eyes until she was right beside me.
    This was a woman that looked so slim before she had left us to looking chubby, 
    but that's a story for another day. We didn't know she had planned a surprise visit with our 
    aunt initially. To cut the long story short, we were in the first bus to Akure the following week. 
</p>

<h4><strong>Part 2 (Intersection)</strong></h4>
<p class="mbr-text mbr-fonts-style display-7">
    On arriving to Akure in year 2007, the life we met there is a story for another day. Mama ADi always had a 
    thought of how she was going to survive alone with four kids, but God did!
</p>

<p class="mbr-text mbr-fonts-style display-7">
    Though, technically she wasn't alone. It would be of no good of me as the story teller if I did not make 
    mention of my Uncle, Igor. He deserves an accolade as the best uncle in the world.
    I would dedicate another day to tell you about how good and supporting he has been to us.
</p> 

<p class="mbr-text mbr-fonts-style display-7">
    Now, back to my story; She started off as a cook, where she specialized in catering services for events, 
    soup and food services for people. One unique thing she does before leaving the house for
    catering jobs was to ensure she prepared enough soup in small and medium containers that would last us 
    while she was away. These were soups that would last 3-5days refigerated.
</p> 
    
<p class="mbr-text mbr-fonts-style display-7">
    But over the years, Mama ADi had been undervalued and underpaid despite the so much efforts 
    she puts into cooking. There were times she would return from a catering job that lasted about 5days, 
    and she would be unable to see properly for the next two days due to the furnace of fire she had endured 
    during work. I remember I would go to the backyard of the house to cry my ass out because I wanted to 
    change my mum's story.
</p>
    
<p class="mbr-text mbr-fonts-style display-7">
    So, fastforward to after I graduated University, I thought of how I could use the power of coding, 
    the power of creating applications to change Mama ADi's business for good, since it was part of what I studied 
    back in the university. I gathered the best brains, and together we built an application where people can 
    place order for Mama ADi's food or soup in various box sizes which is where we are today. Her dream has 
    always been to produce containerized food and soups for Nigerians. 
    Today, we are in a world where everyone is busy. ADi meals hopes to simplify food and soup cooking by exchanging 
    our busy hours with quality meals. Imagine a lady Banker that closes from work by 6pm but would still 
    have to be home to cook for the family or a Teacher or Bachelor that closes from work by 4pm but would still 
    have to go home to cook, when it can be ordered from us.<br><br>
    Sometimes, we understand that Nigerians can be calculative in spending, for example: I have a family of 6 
    in the house, rather than buying containerized food for all six, a Nigerian woman might decide to cook at 
    home but this is what our soup service hopes to solve by offering you your choice of soup, and then you choose
    to prepare the chewable food at his or her own convenience. That way, you have killed a bed with two stones. We have 
    saved your time, money, and even reduced the stress it would take you to cook the soup.
</p>

<p class="mbr-text mbr-fonts-style display-7">
    You see, my dear friend, everything you have read so far is not to score some emotional cheap point but 
    to categorically inform you that you would not be wasting your money when you buy any of our meals. I beat my 
    chest to tell you that Mama ADi cooks the best soups, and food in Nigeria! If you eventually buy our soup or 
    food, and you feel any regrets, I will not only refund you but tender an apology by trekking down to your 
    home to deliver the apology myself!<br><br> 

    Please, help Mama ADi, and ADi meals win today by buying our meals.
</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content13 cid-u0tugIEdq9" id="content13-4">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                    <strong>Frequently asked questions</strong>
                </h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>Is ADi meals a registered company?</strong><br>Yes, we are a registered <strong>limited
                            </strong>company under the Corporate Affairs Commission in Nigeria.</li>
                            <li><strong>Does ADi meals accept cash payments on delivery?</strong><br>No,
                                 we do not accept cash payments on delivery. All payments must be made via our payments
                                 channels before delivery.</li>
                            <li><strong>Does ADi meals process refunds?</strong><br>Refund processing are usually
                                 our last option. Provided there are genuine evidences that backs up the claim, 
                                 especially when a product has been defiled from our end, we will definitely 
                                 process a refund but be rest assured our products would always be intact before 
                                 and after delivery to you.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>Are my data secured on ADi meals?</strong><br>
                                 Yes, be rest assured that your data will always be secured on our website. We are
                                 built on one of the best development tools that ensures data security. Also, to
                                 lessen our burden on securing User data, we have resulted not to store payments 
                                 details like card number, card name, and others. Our third parties can secure that 
                                 on our behalf and be rest assure that they will be in safe hands if you to choose
                                 to save your payments details.&nbsp;</li>
                            <li><strong>Does ADi meals source it food from other vendors?<br></strong>No, 
                                 we do not source food from other vendors. Every Soup or Food you order for is 
                                 prepared by us.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
