{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Profile
{% endblock %}
{% block pageBody %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">

<div class="container">

    {% if user.is_authenticated %}
    
    <div class="mbr-section-head">
        <div class="col-md-12 col-lg-10 m-auto align-center">
            <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Profile</strong></h1>
        </div><br><br>
    </div>

    <h3>{{fname|capfirst}} {{lname|capfirst}}, you're welcome!</h3>

    <div class="mbr-section-btn item-footer mt-2">

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:account_info' %}';">Account Information</button>

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'payments:transactions' %}';">My Orders</button>
        {% if user.is_superuser %}
        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'payments:all_transactions' %}';">User transactions</button>
        
        <a href="https://adimeals.com/admin7420/"><button class="btn btn-primary item-btn display-7">Admin</button></a>
        {% endif %}
        <a href=" https://x.com/ADimeals?t=-VMCHcM3panXJnjGskqWhw&s=08"><button class="btn btn-primary item-btn display-7" >Twitter</button></a>

        <a href="https://wa.link/n403fi"><button class="btn btn-primary item-btn display-7" >Whatsapp Us</button></a>
        
    </div>

    {% else %}

    <div class="mbr-section-head">
        <div class="col-md-12 col-lg-10 m-auto align-center">
            <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Profile</strong></h1>
        </div><br><br>
    </div>

    <h3>{{fname}} {{lname}}, you're welcome!</h3>

    <div class="mbr-section-btn item-footer mt-2">

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:signin' %}';">Account Information</button>

        <button class="btn btn-primary item-btn display-7" onClick="window.location='{% url 'authentication:signin' %}';">My Orders</button>

        <a href="https://x.com/ADimeals?t=-VMCHcM3panXJnjGskqWhw&s=08"><button class="btn btn-primary item-btn display-7" >Twitter</button></a>

        <a href="https://wa.link/n403fi"><button class="btn btn-primary item-btn display-7" >Whatsapp Us</button></a>
        
    </div>
        
    {% endif %}
    <br><br><br><br><br><br><br><br>
</div>

</section>
{% endblock %}