{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Cart</title>
<link rel="stylesheet" href="{% static 'cart/master.css' %}">{#if you want to use it own css file, change to cart/master.css#}
<script src="{% static 'cart/js/cart.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

{% if user.is_authenticated %}

{% block cart_button %}
    <button type="submit" id="soup_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart_quantity}})</strong></button>
    {% endblock cart_button %}
    
    {% block content_is_authenticated %}

<div class="container" id="container">
    <br><br><h1><center>Cart page!</center></h1><br><br>

<div id="notification-container"></div><br><br>


{% comment "" %}Here I listed out the list from the view by calling out on each item [item,total_price] of all items in CartitemsFood{% endcomment %}
{% for item in new %}
<div class="item-container" id="{{item.0.object_id}}-{{item.0.food_category}}">
<br><br><br><img src={{item.0.content_object.image.url}} class="img-fluid"><br><br>
{% if item.0.content_type == food %}
<p>{{item.0.content_object.food_item|capfirst}} | ₦{{item.0.content_object.food_price}}</p>
{% elif item.0.content_type == soup and item.0.food_category == "mini" %}
<p>{{item.0.content_object.soup_item|capfirst}} | {{item.0.food_category|capfirst}} box | ₦{{item.0.content_object.mini_box_price}}</p>
{% elif item.0.content_type == soup and item.0.food_category == "medium" %}
<p>{{item.0.content_object.soup_item|capfirst}} | {{item.0.food_category|capfirst}} box | ₦{{item.0.content_object.medium_box_price}}</p>
{% else %}
<p>{{item.0.content_object.soup_item|capfirst}} | {{item.0.food_category|capfirst}} box | ₦{{item.0.content_object.mega_box_price}}</p>
{% endif %}
<p class="quantity" id="{{item.0.object_id}}-{{item.0.food_category}}"><strong>Quantity: </strong>{{item.0.quantity}}</p>
<p class="quantity-unit-price" id="{{item.0.content_object}}-{{item.0.food_category}}"><strong>Quantity + Unit price: ₦</strong>{{item.1}}</p><br>

<div class="productContainer">
    <button type="submit" class="btn btn-success" name="add-item" value={{item.0.object_id}} data-content="{{item.0.content_object}}" data-item="{{item.0.food_category}}" id="add-item">+</button>

    <button type="submit" class="btn btn-success" name="subtract-item" value={{item.0.object_id}} data-content="{{item.0.content_object}}" data-item="{{item.0.food_category}}" id="subtract-item">-</button><br><br>

    <button type="submit" class="btn btn-danger" name="delete-item" value={{item.0.object_id}} data-content="{{item.0.content_object}}" data-item="{{item.0.food_category}}" id="delete-item">Delete</button>
  </div><br><br><br>

</div>
{% endfor %}

<button type="submit" class="btn btn-danger" value={{cart.user.username}} name="clear_all" id="clear_all">Clear all</button><br><br>

<div id="overlay" class="overlay" style="display: none;">
  <div class="overlay-content">
    <p>Are you sure you want to delete?</p>
    <button class="btn btn-primary" id="okayButton" value={{cart.user.pk}}>Okay</button>
    <button class="btn btn-secondary" id="cancelButton">Cancel</button>
  </div>
</div><br><br>
<p><strong>Total items in cart: </strong>{{cart_quantity}}</p>
<p><strong>Total price of items in cart: ₦</strong>{{cart.total_price}}</p>
<button type="button" class="btn btn-success" onClick="makePayment({{cart.total_price}},{{cart.pk}})">Proceed to pay</button>

</div>{% endblock content_is_authenticated %}

{% else %}

{% block content_not_authenticated %}

<div class="container">

  <h1><center>Cart page!</center></h1><br><br>






  
        
</div>{% endblock content_not_authenticated%}
{% endif %}

</div>

<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
    let tx_ref = "{{ tx_ref }}"
    let username = "{{ username }}"
    let email = "{{ email }}"
    let phone_no = "{{ phone_no }}"

function makePayment(price, pk) {
    FlutterwaveCheckout({
      public_key: "FLWPUBK-88c1243af19624d4b741295b1782a009-X",
      tx_ref: tx_ref,
      amount: price,
      currency: "NGN",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "https://127.0.0.1:8000/payments/verify_payment/" + pk,
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: email,
        phone_number: phone_no,
        name: username,
      },
      customizations: {
        title: "ADi meals limited",
        description: "Your go to place for food and soup service",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
</script>


