{% extends "./../base/base.html" %}
{% block pageTitle %}
ADI food | Home
{% endblock %}
{% block pageBody %}
{% load static %}

<section data-bs-version="5.1" class="image2 cid-u0tuxl367X" id="image2-7">
<div class="container">
  

    <div class="row">
       
        <div class="col-md-8 order-md-1 display-4 ">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <div class="input-group">
                            {{address.user.first_name | capfirst}}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <div class="input-group">
                            {{address.user.last_name | capfirst}}
                        </div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        {{address.user.username | capfirst}}
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <div class="input-group">
                        {{address.user.email | capfirst}}
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="address">Address</label>
                    <div class="input-group">
                        {{address | capfirst}}
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <div class="input-group">
                            {{address.country | capfirst}}
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <div class="input-group">
                            {{address.state | capfirst}}
                        </div>
                        {% comment "" %}
                        <select class="form-control  custom-select d-block w-100" id="state" required>
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>{% endcomment %}
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <div class="input-group">
                            1234
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                        address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">
        
                <h4 class="mb-3">Payment</h4>
        
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">Paypal</label>
                    </div>
                </div>
                
                
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
        </div>
        <div class="col-md-4 order-md-2 mb-4 display-4 ">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                {% for item in new %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    {% if item.0.content_type == food %}
                    <div>
                        <h6 class="my-0">{{item.0.content_object.food_item|capfirst}}</h6>
                        <small class="text-muted">₦{{item.1}}</small>
                    </div>

                    <div class="col-md-3 text-left">
                        <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                        data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                    </div>

                    {% elif item.0.content_type == soup and item.0.food_category == "mini" %}
                    <div>
                        <h6 class="my-0">{{item.0.content_object.soup_item|capfirst}} | {{item.0.food_category|capfirst}} box</h6>
                        <small class="text-muted">₦{{item.0.content_object.mini_box_price}}</small>
                    </div>

                    <div class="col-md-3 text-left">
                        <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                        data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                    </div>

                    {% elif item.0.content_type == soup and item.0.food_category == "medium" %}
                    <div>
                        <h6 class="my-0">{{item.0.content_object.soup_item|capfirst}} | {{item.0.food_category|capfirst}} box</h6>
                        <small class="text-muted">₦{{item.0.content_object.medium_box_price}}</small>
                    </div>

                    <div class="col-md-3 text-left">
                        <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                        data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                    </div>

                    {% else %}
                    <div>
                        <h6 class="my-0">{{item.0.content_object.soup_item|capfirst}} | {{item.0.food_category|capfirst}} box</h6>
                        <small class="text-muted">₦{{item.0.content_object.mega_box_price}}</small>
                    </div>

                    <div class="col-md-3 text-left">
                        <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                        data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
                {% comment "" %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <div class="col-md-3 text-left">
                        <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                        data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                   </div>
                    <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <div class="col-md-3 text-left">
                        <img src={{item.0.content_object.image.url}} class="img-fluid" alt="Adi Foods"
                        data-bs-slide-to="4" data-slide-to="4" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                   </div>
                    <span class="text-muted">$5</span>
                </li>{% endcomment %}
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-₦5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (NGN)</span>
                    <strong>₦{{cart.total_price}}</strong>
                </li>
            </ul>
        
            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning ">Redeem</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</section>




<!--Other body ends-->
{% endblock %}