h1{

    font-family: "Bangers";
    font-size: 100px;
    color: lawngreen;
    text-align: center;
       
}


.btn-success{

    padding-left: 5ch;
    padding-right: 5ch;
    padding-top: 5ch;
    padding-bottom: 5ch;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-size: 25px;
    font-weight: 450;

}

.btn-primary{

    padding-left: 5ch;
    padding-right: 5ch;
    padding-top: 5ch;
    padding-bottom: 5ch;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-size: 25px;
    font-weight: 450;

}

