{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block pageTitle %}
ADi meals | {{ provider }}
{% endblock %}
{% block pageBody %}
{#{% extends "socialaccount/base.html" %}#}
{#{% block head_title %}{% trans "Sign In" %}{% endblock %}#}
<section data-bs-version="5.1" class="gallery3 cid-u0tvmAp7su" id="gallery3-a">
    <div class="container">
        <center>

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>

{% else %}

<h1>{% blocktrans with provider.name as provider %}
  <div class="mbr-section-head">
    <div class="col-md-12 col-lg-10 m-auto align-center">
        <h1 class="mbr-section-title mbr-white mbr-fonts-style mb-3 display-1" style="color:green;"><strong>Sign In Via {{ provider }}</strong></h1>
    </div><br><br>
  </div>
  {% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary display-4">{% trans "Continue" %}</button>
</form>
{% endblock %}
       
        </center>
    </div>
</section>

{% endblock %}
