{% extends "base/base.html" %}
{% load static %}
{% block pageTitle %}
ADi meals | Soup box
{% endblock %}

{% block food_or_soup_box %}
    <div class="mbr-section-btn"><a href="{% url 'food_app:foodbox' %}" 
        class="btn btn-warning display-4">Food box</a>
    </div>
{% endblock food_or_soup_box %}

{% block pageBody %}

<section data-bs-version="5.1" class="gallery2 cid-u3WJMtbVnF" id="gallery2-q">


    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Soup box</strong>
                

            </h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
                <p>Select from the best of the best soup!</p>
            </h5>
        </div>


        <div class="row mt-4">
            {% for item in soup %}
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href= "{% url 'payments:payment' price=item.mini_box_price slug=item.slug %}"><img src={{item.image.url}} class="img-fluid" alt="{{item.soup_item}}"></a>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7">
                            <p>{{item.soup_item|capfirst}} | {{userprotein.0|capfirst}} | {{userprotein.1|capfirst}} | <strong>₦{{item.mini_box_price}}</strong></p>
                        </h5>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">{{item.mini_box_name|capfirst}}</h5>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'payments:payment' price=item.mini_box_price slug=item.slug %}" class="btn btn-primary item-btn display-7"
                            >Order Now!</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href= "{% url 'payments:payment' price=item.medium_box_price slug=item.slug %}"><img src={{item.image.url}} class="img-fluid" alt="{{item.soup_item}}"></a>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7">
                            <p>{{item.soup_item|capfirst}} | {{userprotein.0|capfirst}} | {{userprotein.1|capfirst}} | <strong>₦{{item.medium_box_price}}</strong></p>
                        </h5>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">{{item.medium_box_name|capfirst}}</h5>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'payments:payment' price=item.medium_box_price slug=item.slug %}" class="btn btn-primary item-btn display-7"
                        >Order Now!</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href= "{% url 'payments:payment' price=item.mega_box_price slug=item.slug %}"><img src={{item.image.url}} class="img-fluid" alt="{{item.soup_item}}"></a>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7">
                            <p>{{item.soup_item|capfirst}} | {{userprotein.0|capfirst}} | {{userprotein.1|capfirst}} | <strong>₦{{item.mega_box_price}}</strong></p>
                        </h5>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">{{item.mega_box_name|capfirst}}</h5>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'payments:payment' price=item.mega_box_price slug=item.slug %}" class="btn btn-primary item-btn display-7"
                        >Order Now!</a></div>
                </div>
            </div>
                        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

