{% extends "home.html" %}
{% load static %}
{% block jscript_attribute %}
<title>Food box</title>
<link rel="stylesheet" href="{% static 'food_app/master.css' %}">
<script src="{% static 'food_app/js/food.js' %}" defer="true"></script>
{% endblock jscript_attribute %}

  {% if user.is_authenticated %}
  
    {% block cart_button %}
    <button type="submit" id="food_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
    {% endblock cart_button %}
    
    {% block content_is_authenticated %}

<div class="container">
    <br><br><h1><center>Food box page!</center></h1><br><br>

                {% comment %} Each for loop item takes its slug input and directs the user to its particular view on the payment page. 
                {% endcomment %}

                
                {% for item in food %}
                
                <a href= "{% url 'payments:payment' price=item.food_price slug=item.slug %}"><img src={{item.image.url}} class="img-fluid"></a><br><br>
                <p>{{item.food_item|capfirst}} | {{item.protein|capfirst}} | ₦{{item.food_price}}</p>
                <button type="submit" class="btn btn-success" onClick="window.location='{% url 'payments:payment' price=item.food_price slug=item.slug %}';"><strong>Eat Me!</strong></button><br><br>

                <form action="{% url 'payments:price' slug=item.slug %}" method="POST">
                  {% csrf_token %}

                <div class="input-group mb-3">
                  <span class="input-group-text">Price in packs</span>
                  <input type="number" class="form-control" name="quantity"  aria-describedby="quantity" placeholder="Input numbers between 20 and 100" aria-label="Input numbers between 20 and 500" min="20" max="100">
                  <button type="submit" class="btn btn-success"><strong>Click Me!</strong></button>
                </div>
                </form>
      
                 <div class="productContainer">
                  <button type="submit" class="btn btn-success" name="add-item" value={{item.pk}} id="add-item">Add to cart</button>
                </div><br><br>

                <br><br><br><br><br>
                
                {% endfor %}
              </div>{% endblock content_is_authenticated %}
                
              {% else %}

{% block content_not_authenticated %}

<div class="container">
  
  <h1><center>Food box page!</center></h1><br><br>

                {% for item in food %}
                
                <br><br><br><a href= "{% url 'payments:payment' price=item.food_price slug=item.slug %}"><img src={{item.image.url}} class="img-fluid"></a><br><br>
                <p>{{item.food_item|capfirst}}</p>
                <p>₦{{item.food_price}}</p>
                <button type="submit" class="btn btn-success" onClick="window.location='{% url 'payments:payment' price=item.food_price slug=item.slug %}';"><strong>Eat Me!</strong></button><br><br>
                
                <form action="{% url 'payments:price' slug=item.slug %}" method="POST">
                  {% csrf_token %}

                <div class="input-group mb-3">
                  <span class="input-group-text">Price in packs</span>
                  <input type="number" class="form-control" name="quantity" aria-describedby="quantity" placeholder="Input numbers between 20 and 100" aria-label="Input numbers between 20 and 500" min="20" max="100">
                  <button type="submit" class="btn btn-success"><strong>Click Me!</strong></button>
                </div>
                </form>
                
                <div class="productContainer">
                  <button type="submit" class="btn btn-success" name="add-item" value={{item.pk}} id="add-item">Add to cart</button>
                </div><br><br>

                <br><br><br><br>
              
                {% endfor %}
            </div> {% endblock %}
                  {% endif %}

