{% load static %}
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{% static 'food_app/master.css' %}">
            <title>Soup box</title>
        </head>
        <body>

            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button type="submit" id="soup_addtocart" class="btn btn-primary" onClick="window.location='{% url 'cart:cart_items' %}';"><strong>Cart({{cart.total_quantity}})</strong></button>
                  <button type="submit" id="signout" class="btn btn-success" onClick="window.location='{% url 'authentication:signout' %}';"><strong>Sign out</strong></button>
                  <ul class="navbar-nav ml-auto">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button></ul>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Main</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search" action= "{% url 'search_box:search' %}" method="POST">
                      {% csrf_token %}
                      <input type="search" class="form-control me-2" id= "search" name="search" placeholder="Search boxes!" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
            
            
            <div class="container">
            
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{message}}
                <button type="button" class="close" data-dismissible="alert" aria-label="close">
                <span aria-hidden="True">&times;</span>
                </button>
                </div>
                {% endfor %}<br><br><br><br><br>
            

            <br><br><h1>Soup box page!</h1><br><br><br><br><br>

{% comment "" %}
Here I am displaying all kind of soup I have which has two categories of views to show to the user. 
1 - if a user is logged in, each buttons directs the user the payment page 
2 - if a user is not logged in, each buttons directs the user to the sign in page to either sign in or sign up. 
3 - payments page takes in two argument, which is a slug and price of each object item
# and I permanent price=11.0 to be able to focus on each item slug instead.
{% endcomment %}

            {% if user.is_authenticated %}

            {% for item in soup %}
                
            <a href= "{% url 'payments:payment' price=item.pk slug=item.slug %}"><img src={{item.image.url}} class="img-fluid"></a><br><br>
            <h2>{{item.soup_item|capfirst}}</h2>  
            <p>₦{{item.mini_box_price}}</p>
            <button type="submit" class="btn btn-success" onClick="window.location='{% url 'payments:payment' price=item.mini_box_price slug=item.slug %}';"><strong>{{item.mini_box_name|capfirst}}!</strong></button><br><br>
            <p>₦{{item.medium_box_price}}</p>
            <button type="submit" class="btn btn-success" onClick="window.location='{% url 'payments:payment' price=item.medium_box_price slug=item.slug %}';"><strong>{{item.medium_box_name|capfirst}}!</strong></button><br><br>
            <p>₦{{item.mega_box_price}}</p>
            <button type="submit" class="btn btn-success" onClick="window.location='{% url 'payments:payment' price=item.mega_box_price slug=item.slug %}';"><strong>{{item.mega_box_name|capfirst}}!</strong></button><br><br><br><br><br><br><br>

            {% endfor %}

            {% else %}

            {% for item in soup %}
 
            <a href= "{% url 'authentication:signin' %}"><img src={{item.image.url}} class="img-fluid"></a><br><br>
            <h2>{{item.1|capfirst}}</h2>  
            <p>₦{{item.mini_box_price}}</p>
            <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';"><strong>{{item.mini_box_name|capfirst}}!</strong></button><br><br>
            <p>₦{{item.medium_box_price}}</p>
            <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';"><strong>{{item.medium_box_name|capfirst}}!</strong></button><br><br>
            <p>₦{{item.mega_box_price}}</p>
            <button type="submit" class="btn btn-success" onClick="window.location='{% url 'authentication:signin' %}';"><strong>{{item.mega_box_name|capfirst}}!</strong></button><br><br><br>

            {% endfor %}

    {% endif %}
        </div>
           </body>
        </html>
        
