<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search box</title>
</head>
<body>

{% if food %}
<h1><center>Search result found!</center></h1><br><br><br>
{% for item in food %}
<center><a href= "{% url 'food_app:foodbox' %}"><li>{{item | capfirst}}</li></a></center>
{% endfor %}

{% elif soup %}
<h1><center>Search result found!<center></h1><br><br><br> 
{% for item in soup %}
<center><a href= "{% url 'food_app:soupbox' %}"><li>{{item | capfirst}}</li></a></center>
{% endfor %}

{% else %}
<h1><center>Search result not found!</center></h1><br><br><br>
<h3><center>We've searched our boxes, and couldn't find the meal you searched for.....</center></h3>

{% endif %}


   </body>
</html>
